+slider
  +slider-item('Welcome To Our', 'TRAVEL AGENCY', 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod.')
  +slider-item('7 - Day Tour', 'AMAZING CARIBEAN', 'Lorem ipsum dolor eleifend option cngue nihil imperdiet doming id quod')
  +slider-item('5 Days In', 'PARIS (Capital Of World)', 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod.')
  +slider-item('12 - Day Cruises', 'FROM GRECE TO SPAIN', 'MEDITERRANEAN - 12 - Day Cruises By "GRAND VICTORIA III" Cruise Liner.')
